#service:visited{
    color: aqua;
}
#service:hover{
    color: blue;
}
#service{
    color: cornflowerblue;
    text-decoration: none;
    background-color: black;
    padding: 5px;
    margin: 0px;
    border: solid green;

}
#booking:visited{
    color: rgb(13, 235, 13);
}
#booking:hover{
    color: rgb(202, 71, 10);
}
#booking{
    color: darkgoldenrod;
    text-decoration: none;
    background-color: black;
}
#home{
    color: cadetblue;
    text-transform: none;
    background-color: black;
}
#home:hover{
    color: blueviolet;
}
#home:visited{
    color: coral;
}
